---
// Slide17
---
<section class="slide-container practice-slide">
      <span class="slide-number">12 / 16</span>
      <div class="practice-icon">
        <i class="fa-solid fa-play"></i>
      </div>
      <h2><i class="fa-solid fa-flask"></i> Время практики</h2>
      <p class="practice-text">Сейчас мы создадим ваш первый проект с помощью всего одного запроса</p>
    </section>
