---
// Slide14
---
<section class="slide-container slide-full-img">
      <span class="slide-number"></span>
      <img class="pillar-full-img" src="html+css+js.png" alt="HTML + CSS + JS">
    </section>
